In [1]:
import requests
import urllib.request
import json
import pandas as pd
import zipfile
import io

In [2]:
#Get download link from StatCan API
table_id = "14100287"
meta_url = f"https://www150.statcan.gc.ca/t1/wds/rest/getFullTableDownloadCSV/{table_id}/en"
meta = requests.get(meta_url).json()
zip_url = meta['object']

In [3]:
#Download and read main CSV
response = requests.get(zip_url)
with zipfile.ZipFile(io.BytesIO(response.content)) as z:
    print("ZIP contains:", z.namelist())
    for file_name in z.namelist():
        if file_name.endswith(".csv") and "MetaData" not in file_name:
            with z.open(file_name) as f:
                df_unemp = pd.read_csv(f, low_memory=False)

ZIP contains: ['14100287.csv', '14100287_MetaData.csv']

In [4]:
#Confirm it loaded
print("✅ Raw shape:", df_unemp.shape)
print("✅ Columns:", df_unemp.columns.tolist())
df_unemp.head()

✅ Raw shape: (5340654, 19)
✅ Columns: ['REF_DATE', 'GEO', 'DGUID', 'Labour force characteristics', 'Gender', 'Age group', 'Statistics', 'Data type', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

,REF_DATE,GEO,DGUID,Labour force characteristics,Gender,Age group,Statistics,Data type,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976-01,Canada,2021A000011124,Population,Total - Gender,15 years and over,Estimate,Seasonally adjusted,Persons in thousands,428,thousands,3,v2062809,1.1.1.1.1.1,16852.4,NaN,NaN,NaN,1
1,1976-01,Canada,2021A000011124,Population,Total - Gender,15 years and over,Estimate,Unadjusted,Persons in thousands,428,thousands,3,v2064888,1.1.1.1.1.2,16852.4,NaN,NaN,NaN,1
2,1976-01,Canada,2021A000011124,Population,Total - Gender,15 to 64 years,Estimate,Seasonally adjusted,Persons in thousands,428,thousands,3,v21580997,1.1.1.8.1.1,15015.9,NaN,NaN,NaN,1
3,1976-01,Canada,2021A000011124,Population,Total - Gender,15 to 64 years,Estimate,Unadjusted,Persons in thousands,428,thousands,3,v21580998,1.1.1.8.1.2,15015.9,NaN,NaN,NaN,1
4,1976-01,Canada,2021A000011124,Population,Total - Gender,15 to 24 years,Estimate,Seasonally adjusted,Persons in thousands,428,thousands,3,v2062836,1.1.1.2.1.1,4509.9,NaN,NaN,NaN,1

In [5]:
#Values we need
print(df_unemp["Labour force characteristics"].unique())

['Population' 'Labour force' 'Employment' 'Full-time employment'
 'Part-time employment' 'Unemployment' 'Unemployment rate'
 'Participation rate' 'Employment rate']

In [6]:
print(df_unemp["Gender"].unique())

['Total - Gender' 'Men+' 'Women+']

In [7]:
print(df_unemp["Age group"].unique())

['15 years and over' '15 to 64 years' '15 to 24 years' '15 to 19 years'
 '20 to 24 years' '25 years and over' '25 to 54 years' '55 years and over'
 '55 to 64 years']

In [8]:
#Filtering for needed and renamed columns
df_unemp = df_unemp[
    (df_unemp["Gender"] == "Total - Gender") &
    (df_unemp["Age group"] == "15 years and over") &
    (df_unemp["Labour force characteristics"] == "Unemployment rate")
]
df_unemp = df_unemp[["REF_DATE", "GEO", "VALUE"]]
df_unemp.rename(columns={"VALUE": "Unemployment_Rate"}, inplace=True)

print("Filtered shape:", df_unemp.shape)

Filtered shape: (32670, 3)

In [9]:
df_unemp.head()

    REF_DATE     GEO  Unemployment_Rate
636  1976-01  Canada                7.1
637  1976-01  Canada                8.1
638  1976-01  Canada                NaN
639  1976-01  Canada                NaN
640  1976-01  Canada                NaN

In [10]:
#CPI - Get API Link
table_id = "18100004"
meta_url = f"https://www150.statcan.gc.ca/t1/wds/rest/getFullTableDownloadCSV/{table_id}/en"
meta = requests.get(meta_url).json()
zip_url = meta['object']

In [11]:
#Download CSV
response = requests.get(zip_url)
with zipfile.ZipFile(io.BytesIO(response.content)) as z:
    for file_name in z.namelist():
        if file_name.endswith(".csv") and "MetaData" not in file_name:
            with z.open(file_name) as f:
                df_cpi = pd.read_csv(f, low_memory=False)

In [12]:
#Columns
print(df_cpi.columns.tolist())

['REF_DATE', 'GEO', 'DGUID', 'Products and product groups', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS']

In [13]:
df_cpi.head()

,REF_DATE,GEO,DGUID,Products and product groups,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1914-01,Canada,2016A000011124,All-items,2002=100,17,units,0,v41690973,2.200,6.0,NaN,NaN,NaN,1
1,1914-01,Canada,2016A000011124,All-items (1992=100),1992=100,7,units,0,v41713403,2.309,7.2,NaN,NaN,t,1
2,1914-01,Canada,2016A000011124,Goods and services,2002=100,17,units,0,v41691221,2.273,6.0,NaN,NaN,t,1
3,1914-02,Canada,2016A000011124,All-items,2002=100,17,units,0,v41690973,2.200,6.0,NaN,NaN,NaN,1
4,1914-02,Canada,2016A000011124,All-items (1992=100),1992=100,7,units,0,v41713403,2.309,7.2,NaN,NaN,t,1

In [14]:
print(df_cpi["Products and product groups"].unique())

['All-items' 'All-items (1992=100)' 'Goods and services' 'Food'
 'Fresh or frozen poultry' 'Fresh or frozen chicken' 'Dairy products'
 'Fresh milk' 'Butter' 'Bakery and cereal products (excluding baby food)'
 'Breakfast cereal and other cereal products (excluding baby food)'
 'Flour and flour-based mixes' 'Fresh fruit' 'Apples' 'Oranges' 'Bananas'
 'Fresh vegetables' 'Potatoes' 'Tomatoes' 'Lettuce' 'Rented accommodation'
 'Rent' "Tenants' insurance premiums" 'Owned accommodation'
 'Mortgage interest cost' "Homeowners' replacement cost"
 'Property taxes and other special charges'
 "Homeowners' home and mortgage insurance"
 "Homeowners' maintenance and repairs" 'Water, fuel and electricity'
 'Electricity' 'Natural gas' 'Fuel oil and other fuels'
 'Telephone services' 'Postal and other communications services'
 'Furniture' 'Area rugs and mats' 'Clothing and footwear'
 'Dry cleaning services' 'Other clothing services' 'Transportation'
 'Private transportation' 'Purchase and leasing of passenger vehicles'
 'Purchase of passenger vehicles' 'Gasoline'
 'Passenger vehicle insurance premiums'
 'Local and commuter transportation' 'City bus and subway transportation'
 'Taxi and other local and commuter transportation services'
 'Inter-city transportation' 'Health and personal care' 'Health care'
 'Dental care services' 'Personal care' 'Personal soap'
 'Oral-hygiene products' 'Personal care services'
 'Recreation, education and reading' 'Recreation'
 'Reading material (excluding textbooks)' 'Newspapers'
 'Alcoholic beverages, tobacco products and recreational cannabis'
 'Alcoholic beverages' 'Beer purchased from stores'
 'Liquor purchased from stores' "Tobacco products and smokers' supplies"
 'Cigarettes' 'All-items excluding food' 'Housing (1986 definition)'
 'Food purchased from stores' 'Other fresh or frozen poultry' 'Eggs'
 'Margarine' 'Tea' 'Non-alcoholic beverages'
 'Food purchased from restaurants'
 "Tenants' maintenance, repairs and other expenses"
 'Household cleaning products' 'Footwear'
 'Operation of passenger vehicles' 'Public transportation'
 'Air transportation'
 'Other home entertainment equipment, parts and services'
 'All-items excluding food and energy' 'Energy' 'Goods' 'Durable goods'
 'Semi-durable goods' 'Non-durable goods'
 'Non-durable goods excluding food purchased from stores'
 'Goods excluding food purchased from stores'
 'Goods excluding food purchased from stores and energy' 'Services'
 'Services excluding shelter services' 'Ice cream and related products'
 'Fresh or frozen beef' 'Dairy products and eggs' 'Bakery products'
 'Sugar and confectionery' 'Coffee and tea' 'Communications'
 'Paper, plastic and aluminum foil supplies'
 'Household furnishings and equipment'
 "Women's footwear (excluding athletic)"
 'Clothing material, notions and services'
 'Personal care supplies and equipment' 'Magazines and periodicals'
 'All-items excluding energy' 'Food and energy'
 'Other edible fats and oils' 'Water' 'Jewellery' 'Laundry services'
 'Parking fees' 'Traveller accommodation' 'Education' 'Tuition fees'
 'Beer served in licensed establishments'
 'Liquor served in licensed establishments' 'Wine purchased from stores'
 'Housekeeping services' "Children's clothing"
 'All other passenger vehicle operating expenses' 'Meat'
 'Fresh or frozen meat (excluding poultry)' 'Fresh or frozen pork' 'Fish'
 'Canned and other preserved fish' 'Seafood and other marine products'
 'Rice and rice-based mixes' 'Pasta products'
 'Fruit, fruit preparations and nuts'
 'Vegetables and vegetable preparations'
 'Canned vegetables and other vegetable preparations'
 'Edible fats and oils' 'Coffee' 'Condiments, spices and vinegars'
 'Other food preparations' 'Soup' 'Baby foods' 'Frozen food preparations'
 'Shelter' 'Household operations, furnishings and equipment'
 'Household operations' 'Child care services'
 'Detergents and soaps (other than personal care)'
 'Other horticultural goods' 'Other household supplies'
 'Furniture and household textiles' 'Upholstered furniture'
 'Wooden furniture' 'Household equipment' 'Household appliances'
 'Refrigerators and freezers'
 'Services related to household furnishings and equipment'
 'Athletic footwear' 'Clothing material and notions'
 'Rental of passenger vehicles'
 'Passenger vehicle maintenance and repair services'
 'Medicinal and pharmaceutical products' 'Other health care goods'
 'Toiletry items and cosmetics'
 'Recreational equipment and services (excluding recreational vehicles)'
 'Sporting and exercise equipment'
 'Purchase and operation of recreational vehicles'
 'Purchase of recreational vehicles and outboard motors'
 'Operation of recreational vehicles'
 'Home entertainment equipment, parts and services' 'Travel tours'
 'Video and audio subscription services'
 'Use of recreational facilities and services'
 'Other lessons, courses and education services'
 'Alcoholic beverages served in licensed establishments'
 'Alcoholic beverages purchased from stores' 'Shelter (1986 definition)'
 "All-items excluding alcoholic beverages, tobacco products and smokers' supplies and recreational cannabis"
 'Fresh fruit and vegetables'
 'Non-durable goods excluding food purchased from stores and energy'
 'Clothing' "Women's clothing" "Men's clothing"
 'All-items excluding mortgage interest cost'
 'All-items excluding alcoholic beverages and recreational cannabis'
 "All-items excluding tobacco products and smokers' supplies and recreational cannabis"
 'All-items excluding shelter'
 'Other fresh or frozen meat (excluding poultry)' 'Processed meat'
 'Ham and bacon' 'Other processed meat'
 'Fish, seafood and other marine products'
 'Fresh or frozen fish (including portions and fish sticks)' 'Cheese'
 'Other dairy products' 'Bread, rolls and buns' 'Cookies and crackers'
 'Other bakery products' 'Cereal products (excluding baby food)'
 'Other fresh fruit' 'Preserved fruit and fruit preparations'
 'Fruit juices' 'Other preserved fruit and fruit preparations'
 'Nuts and seeds' 'Other fresh vegetables'
 'Preserved vegetables and vegetable preparations'
 'Frozen and dried vegetables'
 'Other food products and non-alcoholic beverages' 'Sugar and syrup'
 'Confectionery' 'All other food preparations'
 'Food purchased from table-service restaurants'
 'Food purchased from fast food and take-out restaurants'
 'Child care and housekeeping services'
 'Other household cleaning products' 'Paper supplies'
 'Plastic and aluminum foil supplies' 'Other household goods and services'
 'Pet food and supplies' 'Seeds, plants and cut flowers'
 'Household textiles' 'Window coverings'
 'Bedding and other household textiles' 'Cooking appliances'
 'Laundry and dishwashing appliances' 'Other household appliances'
 'Non-electric kitchen utensils, tableware and cookware'
 'Household tools (including lawn, garden and snow removal equipment)'
 "Men's footwear (excluding athletic)"
 'Clothing accessories, watches and jewellery'
 'Leather clothing accessories' 'Watches'
 'Purchase, leasing and rental of passenger vehicles'
 'Passenger vehicle parts, maintenance and repairs'
 'Passenger vehicle parts, accessories and supplies'
 'Other passenger vehicle operating expenses'
 'Passenger vehicle registration fees' "Drivers' licences"
 'Rail, highway bus and other inter-city transportation'
 'Health care goods' 'Prescribed medicines (excluding medicinal cannabis)'
 'Non-prescribed medicines' 'Eye care goods' 'Health care services'
 'Other personal care supplies and equipment'
 'Toys, games (excluding video games) and hobby supplies'
 'Photographic equipment and supplies' 'Recreational services'
 'Audio equipment' 'Video equipment' 'Travel services'
 'Other cultural and recreational services'
 'Spectator entertainment (excluding video and audio subscription services)'
 'Education and reading'
 'Books and reading material (excluding textbooks)'
 'Rental of digital media'
 'Food purchased from cafeterias and other restaurants'
 'Other owned accommodation expenses' 'Other household services'
 'Other furniture' 'Tools and other household equipment'
 'Other household equipment' "Children's footwear (excluding athletic)"
 'Other clothing accessories' 'Other health care services'
 'Digital computing equipment and devices' 'Other recreational equipment'
 'Fuel, parts and accessories for recreational vehicles'
 'Insurance, licences and other services for recreational vehicles'
 'School textbooks and supplies' 'Wine served in licensed establishments'
 "Other tobacco products and smokers' supplies"
 'Leasing of passenger vehicles' 'All-items excluding gasoline'
 'All-items excluding shelter, insurance and financial services'
 'Private transportation excluding gasoline' 'Purchase of digital media'
 'Internet access services (200212=100)' 'Financial services (200212=100)'
 'Eye care services (200704=100)' 'Telephone equipment (201104=100)'
 'Computer equipment, software and supplies (201104=100)'
 'Multipurpose digital devices (201104=100)' 'Bacon (2013=100)'
 'Ham excluding deli ham (2013=100)' 'Canned salmon (2013=100)'
 'Canned tuna (2013=100)' 'Shrimps and prawns (2013=100)'
 'Other shellfish (2013=100)' 'Whole milk (2013=100)'
 'Low-fat milk (2013=100)' 'Cheddar cheese (2013=100)'
 'Processed cheese (2013=100)' 'Unripened or fresh cheese (2013=100)'
 'Mozzarella cheese (2013=100)' 'Crackers and crisp breads (2013=100)'
 'Cookies and sweet biscuits (2013=100)' 'Dry or fresh pasta (2013=100)'
 'Pasta mixes (2013=100)' 'Canned fruit (2013=100)'
 'Jam, jelly and other preserves (2013=100)'
 'Dried and dehydrated fruit (2013=100)' 'Frozen fruit (2013=100)'
 'Roasted or ground coffee (2013=100)'
 'Instant and other coffee (2013=100)'
 'Fermented or pickled vegetables (2013=100)'
 'Sauces, condiments and dips (2013=100)'
 'Herbs, spices and seasonings (2013=100)'
 'Canned infant or junior foods (2013=100)' 'Infant formula (2013=100)'
 'Nut butter (2013=100)'
 'Potato chips and other snack products n.e.c. (2013=100)'
 'All other miscellaneous food preparations (2013=100)'
 'Laundry detergents and soaps (2013=100)'
 'Detergents and rinse agents for dish washing (2013=100)'
 'Household cleaning and polishing products (2013=100)'
 'Bleach and other household chemical products (2013=100)'
 'Fabric softener (2013=100)' 'Household paper supplies (2013=100)'
 'Stationery (2013=100)' 'Plastic supplies (2013=100)'
 'Foil supplies (2013=100)' 'Clothing accessories (2013=100)'
 'Purchase of automobiles (2013=100)'
 'Purchase of trucks, vans and sport utility vehicles (2013=100)'
 'Prescription eyeglasses (2013=100)' 'Contact lenses (2013=100)'
 'Other eye care goods (2013=100)'
 'Creams, lotions and cosmetics (2013=100)'
 'Perfume and cologne (2013=100)'
 'Hair preparations and other toilet preparations (2013=100)'
 'Cellular services (2017=100)' 'Medicinal cannabis (201812=100)'
 'Recreational cannabis (201812=100)'
 'Digital economy services (201812=100)'
 'Purchase of new passenger vehicles (202204=100)'
 'Purchase of used passenger vehicles (202204=100)'
 'Citrus (excluding oranges) (202304=100)' 'Grapes (202304=100)'
 'Berries (including cherries) (202304=100)' 'Carrots (202304=100)'
 'Onions (202304=100)' 'Peppers (202304=100)' 'Cucumber (202304=100)'
 'Mushrooms (202304=100)' 'Cellular services (202304=100)'
 'Fresh or frozen beef hip cuts (202404=100)'
 'Fresh or frozen beef loin cuts (202404=100)'
 'Fresh or frozen beef rib cuts (202404=100)'
 'Fresh or frozen beef chuck cuts (202404=100)'
 'Fresh stewing beef (202404=100)'
 'Fresh or frozen ground beef (202404=100)'
 'Other fresh or frozen beef (202404=100)'
 'Fresh or frozen pork loin cuts (202404=100)'
 'Fresh or frozen pork shoulder cuts (202404=100)'
 'Other fresh or frozen pork (202404=100)'
 'Fresh or frozen chicken breasts (202404=100)'
 'Fresh or frozen chicken thighs (202404=100)'
 'Fresh or frozen chicken drumsticks (202404=100)'
 'Fresh or frozen whole chicken (202404=100)'
 'Other fresh or frozen chicken (202404=100)']

In [15]:
# Filter for "All-items" only
df_cpi_cleaned = df_cpi[df_cpi["Products and product groups"] == "All-items"]

# Focus on Canada (you can filter other GEOs if needed)
df_cpi_cleaned = df_cpi_cleaned[df_cpi_cleaned["GEO"] == "Canada"]

# Keep only relevant columns
df_cpi_cleaned = df_cpi_cleaned[["REF_DATE", "GEO", "VALUE"]]

# Rename for clarity
df_cpi_cleaned.rename(columns={"VALUE": "CPI"}, inplace=True)

# Convert REF_DATE to datetime for consistency with COVID dataset
df_cpi_cleaned["REF_DATE"] = pd.to_datetime(df_cpi_cleaned["REF_DATE"])

# Round values
df_cpi_cleaned["CPI"] = df_cpi_cleaned["CPI"].round(2)

In [16]:
df_cpi_cleaned.head()

     REF_DATE     GEO  CPI
0  1914-01-01  Canada  6.0
3  1914-02-01  Canada  6.0
6  1914-03-01  Canada  6.0
9  1914-04-01  Canada  6.0
12 1914-05-01  Canada  5.9

In [17]:
# Load the dataset for COVID
df_covid = pd.read_csv("daily-new-confirmed-covid-19-cases-per-million-people.csv")

In [18]:
df_covid.columns.tolist()

['Entity',
 'Day',
 'Daily new confirmed cases of COVID-19 per million people (rolling 7-day average, right-aligned)']

In [19]:
df_covid.head()

,Entity,Day,"Daily new confirmed cases of COVID-19 per million people (rolling 7-day average, right-aligned)"
0,Afghanistan,2020-01-09,0.0
1,Afghanistan,2020-01-10,0.0
2,Afghanistan,2020-01-11,0.0
3,Afghanistan,2020-01-12,0.0
4,Afghanistan,2020-01-13,0.0

In [27]:
#Filter for Canada only
df_covid_canada = df_covid[df_covid["Entity"] == "Canada"].copy()

In [25]:
#Rename columns for simplicity
df_covid_canada.rename(columns={
    "Day": "REF_DATE",
    "Daily new confirmed cases of COVID-19 per million people (rolling 7-day average, right-aligned)": "COVID_Cases_per_Million"
}, inplace=True)

In [ ]:
df_covid_canada.head()

In [ ]:
#Convert REF_DATE to datetime
df_covid_canada["REF_DATE"] = pd.to_datetime(df_covid_canada["REF_DATE"])

In [ ]:
#Keep only relevant columns
df_covid_canada = df_covid_canada[["REF_DATE", "COVID_Cases_per_Million"]]

In [ ]:
#Round for readability
df_covid_canada["COVID_Cases_per_Million"] = df_covid_canada["COVID_Cases_per_Million"].round(2)

In [ ]:
#Columns
df_covid_canada.columns.tolist()

In [ ]:
#Preview
df_covid_canada.head(10)

In [ ]:
# Convert REF_DATE or Day columns to datetime
df_unemp["REF_DATE"] = pd.to_datetime(df_unemp["REF_DATE"])
df_cpi_cleaned["REF_DATE"] = pd.to_datetime(df_cpi_cleaned["REF_DATE"])
df_covid_canada["REF_DATE"] = pd.to_datetime(df_covid_canada["REF_DATE"])

In [ ]:
df_covid_canada.head()

In [ ]:
# Start with CPI and Unemployment
df_merged = pd.merge(df_cpi_cleaned, df_unemp, on="REF_DATE", how="outer")

# Merge in COVID data
df_merged = pd.merge(df_merged, df_covid_canada, on="REF_DATE", how="outer")

# Sort by date
df_merged.sort_values("REF_DATE", inplace=True)

In [ ]:
df_merged.head(100)

In [ ]:
#Date adjustment from 2015 onwards
df_unemp["REF_DATE"] = pd.to_datetime(df_unemp["REF_DATE"])
df_cpi_cleaned["REF_DATE"] = pd.to_datetime(df_cpi_cleaned["REF_DATE"])
df_covid_canada["REF_DATE"] = pd.to_datetime(df_covid_canada["REF_DATE"])

In [ ]:
df_unemp = df_unemp[df_unemp["REF_DATE"].dt.year >= 2015]
df_cpi_cleaned = df_cpi_cleaned[df_cpi_cleaned["REF_DATE"].dt.year >= 2015]
df_covid_canada = df_covid_canada[df_covid_canada["REF_DATE"].dt.year >= 2015]

In [ ]:
df_unemp.reset_index(drop=True, inplace=True)
df_cpi_cleaned.reset_index(drop=True, inplace=True)
df_covid_canada.reset_index(drop=True, inplace=True)

In [ ]:
# Start with CPI and Unemployment
df_merged = pd.merge(df_cpi_cleaned, df_unemp, on="REF_DATE", how="outer")

# Merge in COVID data
df_merged = pd.merge(df_merged, df_covid_canada, on="REF_DATE", how="outer")

# Sort by date
df_merged.sort_values("REF_DATE", inplace=True)

In [ ]:
df_merged.head(10)

In [ ]:
df_merged.drop(columns=["GEO_x"], inplace=True)

In [ ]:
df_merged.head()

In [ ]:
df_merged.rename(columns={"GEO_y": "GEO"}, inplace=True)

In [ ]:
df_merged.head()

In [ ]:
#Fixing missing data issues 
print(df_merged["REF_DATE"].sort_values().unique())

In [ ]:
#Dates to monthly period format
df_merged["REF_DATE"] = pd.to_datetime(df_merged["REF_DATE"])
df_merged["REF_DATE"] = df_merged["REF_DATE"].dt.to_period("M").dt.to_timestamp()

In [ ]:
df_monthly = df_merged.groupby(["REF_DATE", "GEO"]).mean(numeric_only=True).reset_index()

In [ ]:
#For missing months
full_months = pd.date_range(start="2015-01-01", end="2025-12-01", freq="MS")
df_full = pd.DataFrame({"REF_DATE": full_months})

# Merge with your data, per GEO if needed
df_final = pd.merge(df_full, df_monthly, on="REF_DATE", how="left")

In [ ]:
df_final.head(10)

In [ ]:
df_merged.to_csv("Final_macro_covid_data.csv", index=False)